/* h1: Überschrift Zeile 1 in der Größe 30px */
h1 {font-size: 30px;}

/* h2: Überschrift Zeile 2 in der Größe 20px */
h2 {font-size: 20px;}

/* Allgemeine Klasse für p, h2 und h1 
Alle p, h2 und h1 werden in der Farbe Blau und in der Mitte angezeigt
*/
p, h2, h1 {
    color: blue;
    text-align: center;
}

/* para1: Weiß noch nicht genau  */
#para1 {
    text-align: center;
    color: red;
}

/* .center wird verwendet wenn zum Beispiel ein p aufgerufen wird
Anwendung <p class="center">
P wird gelb und in die mitte gerutscht  */
.center{
    text-align: center;
    color: yellow;
}

/* p.center bei P und Center verwendet wird wird das verwendet  */
p.center{
    text-align: center;
    color: red;
}

/* Border als Klasse hinzugefügt */
.border{
    border-style: solid;
    border-color: red green blue yellow;
}

.borderbottom{
    border-bottom: 6px solid red;
}
/* *Alles wird so vormatiert  */
*{
    text-align: left;
    color: white;
}


/* Body also das ganze Dokument */
body{
   /* background-color: linen; */
   background-image: url("https://img.freepik.com/vektoren-kostenlos/dunkler-sechseckiger-hintergrund-mit-verlaufsfarbe_79603-1409.jpg");
  background-repeat: no-repeat;
   background-attachment:fixed;
   background-size:cover;
}

p{
    /* background-color: linen; */
    background-color: white;
 }

 .box{
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
 }

 .div{
    height: 100px;
    width: auto;
    background-color: powderblue;
 }


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}